.bg-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://wallpaperbat.com/img/839884-angular-wallpaper-top-free-angular-background.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 26rem;
    height: 24rem;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-button {
    width: 100%;
}