.bg-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://wallpaperbat.com/img/839884-angular-wallpaper-top-free-angular-background.png');
    display: flex;
    justify-content: center;
    align-items: center;
}